.app {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  .dark-mode {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
  }
  
  /* Header styles */
  .navbar {
    padding: 1rem;
  }
  
  .navbar.light-mode {
    background-color: #f8f8f8; /* Light header background */
  }
  
  .navbar.dark-mode {
    background-color: #333; /* Dark header background */
  }
  
  /* Additional styles for your components */
  