.footer {
  background-color: #0f1c2e;
  color: #d1d5db;
  padding: 8px 170px;
  font-family: 'Segoe UI', sans-serif;
}
.anchar{
  text-decoration: none;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-col h4 {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #94a3b8;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  cursor: pointer;
  color: #fff;
}

.footer-col ul li:hover {
  text-decoration: underline;
}

.brand-col h2 {
  font-size: 1.5rem;
  color: #fff;
}

.brand-col p {
  margin-top: 8px;
  color: #94a3b8;
}

hr {
  border: none;
  border-top: 1px solid #334155;
  margin: 40px 0 20px;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  color: #94a3b8;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 40px 40px;
  }

  .footer-top {
    gap: 30px;
  }

  .brand-col h2 {
    font-size: 1.3rem;
  }

  .footer-col h4 {
    font-size: 0.95rem;
  }

  .footer-col ul li {
    font-size: 0.95rem;
  }

  .footer-bottom {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 30px 20px;
    text-align: center;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-col,
  .brand-col {
    width: 100%;
  }

  .footer-col ul li {
    font-size: 0.9rem;
  }

  .brand-col h2 {
    font-size: 1.2rem;
  }

  .brand-col p {
    font-size: 0.9rem;
  }

  .footer-bottom {
    font-size: 0.8rem;
    margin-top: 20px;
  }
}
